# Variables de entorno para Producción / React
# Al subir a Firebase o al hacer npm run build, si tienes un backend en la nube, actívalo aquí:
# VITE_API_URL=https://sanisidro-backend.onrender.com/api
